.mainContainer{
   margin-top: 80px;
}
.mainContainer button{
    padding: 20px;
    border: 1px solid  rgb(49, 49, 119);
    border-radius: 30px;
    color: rgb(255, 242, 233);
    background-color: rgb(49, 49, 119);
}
.mainContainer button:hover{
    background-color: seashell;
    color: rgb(49, 49, 119);
}
.mainContainer h2{
    padding-bottom: 5px;
}
.mainContainer p {
    color: rgb(114, 111, 111);
    font-weight: 300;
    padding-block: 5px;
    padding-bottom: 15px;
}

/* Left Col */
.firstCol{
    align-self: center;
    padding-left: 50px;
}
.firstCol img{
    width: 850px;
    top: 100px;
    left: -100px;
    z-index: -1;
    position: absolute;
    opacity: 0.25;
}
/* Right Col */
.teamPic img{
    width: 500px;
    position: relative;
    top: 100px;
    left: 100px;
}

.home{
    margin-top: 50px;
}
.inputDiv{
    box-shadow: 0 1px 1px 0 rgba(243, 154, 113, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    
}

.postInput{
    width: 500px;
    height: 50px;
    border-radius: 50px;
    padding-left: 15px;
}