.mainContainer{
   margin-top: 80px;
}

.mainContainer h2{
    padding-bottom: 5px;
}
.mainContainer p {
    color: rgb(114, 111, 111);
    font-weight: 300;
    padding-block: 5px;
    padding-bottom: 15px;
}

/* Left Col */
.firstCol{
    align-self: center;
    padding-left: 50px;
}
.firstCol img{
    width: 850px;
    top: 100px;
    left: -100px;
    z-index: -1;
    position: absolute;
    opacity: 0.25;
}
.sideCard{
    width: 18rem;
}

/* Right Col */
.teamPic img{
    width: 500px;
    position: relative;
    top: 100px;
    left: 100px;
}

.home{
    margin-top: 40px;
}
.inputDiv, .inputPost{
    border: 1px solid rgba(185, 185, 185, 0.425);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 25px;
}
.inputDiv img{
    width: 60px;
    border-radius: 50%;
}
.inputPost img {
    padding: 0;
    width: 60px;
    border-radius: 50%;

}

.postInput{
    margin-left: 10px;
    width: 85%;
    height: 50px;
    border-radius: 50px;
    padding-left: 15px;
    border: 1px solid rgba(83, 83, 83, 0.568);
}
.postInput:hover{
    background-color: rgba(170, 170, 170, 0.356);
    cursor: pointer;
}

.inputPost button{
    height: fit-content;
    width: fit-content;
    padding-block: 10px;
    margin-right: 10px;
    padding-inline: 20px;
    border: 1px solid  rgb(49, 49, 119);
    border-radius: 20px;
    color: rgb(255, 242, 233);
    background-color: rgb(49, 49, 119);
}